<!DOCTYPE html>
<html>
    <body>
        <p id="textflash" style="text-align:center"></p>
        <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
        <script>
            var elem;
            var fadeDelay = 2000;
            var readDelay = 10000;

            $(document).ready(function() {
                elem = $('#textflash');
                elem.css({opacity: 0});
                var lines = [
				"it is a load of asinine boring old shit about nothing that will make a difference. i strongly recommend wasting as little of your brain on it as possible.",
				"'mistake to hire oompa loompa', regrets Great Ormond Street",
				"if your grave doesn’t have a spectator pullquote on it, you are automatically drafted into the online infinity war",
				"written in what appears to my admittedly untrained eye as ancient aramaic",
				"your dad cracked his bonce off the cistern having a wank and now he’s sputumed in cum and shame",
				"40 y/o cyber-american tradwife",
				"smug shit written by an unfunny cunt",
				"plenty for subs in david copperfield in how much dora spendlow calls him a bad boy",
				"yes bruv, just got off the phone with dignitas, tried to make an appointment but they only do terminals, mega downer",
				"shitty mcshit lives in a shit tip pit that is so bigly shit he cannot fit any more shit in it",
				"a smashed bulb in an already dim shed",
				"'that's it, that's the tweet' and other things i'm going to carve into you with a stanley knife",
				"mae martin’s feel good as written by jim bowen",
				"your cat sitting on your face and doing a fart, but you like it",
				"a novel about a guy in some situation or other",
				"sick of the highlght of their life being getting to laugh hard at writing 'pp.' in university essay references",
				"your dad tied naked and afraid to the bed as i approach him with longing menace and a novelty-sized speculum",
				"well done to the founding fathers for being as worthless as a melted pack of novelty dog shit - evergreen post",
				"your dad's masterplan on trial in the hague for modern slavery crimes is to earnestly tell the court that he has always admired, respected, the hashish people and their culture",
				"the bruce forsyth replica denture salesman is back online",
				"these cunts expecting serious political discussion and there's me going 'your dad fingers 50plus milf otters for money'",
				"please don’t hesitate to send us in more photos or your grandad, and we wish him all the best to get that plastic starfish all the way up his arse",
				"someone somewhere is having an oedipal moment to come on eileen.",
				"executive producer of the Hulk Baby movie",
				"gonna get to the point soon where you have octogenarians called ‘greg’ and ‘nate’",
				"the rosamund pike of contemporary thinkacy",
				"heimlich himmler barred from vidcon after comments he made in a youtube video in 1942 resurface",
				"ariachnid grande",
				"rose west becoming a tiktok star in prison",
				"american movie reviewer for a local gazette whose work is signed with a cigarette burn and only consists of the words 'my ass'",
				"fuck your podcast",
				"just had to have a word with myself about potentially putting piers morgan libel on the internet",
				"it’s time to play the music, it’s time to light the lights, it’s time to tell your dad he's got MND tonight",
				"twitter: tonight my wife died of an impacted queef on an a&e bed / twitter: i think i saw impacted queef at glasto ‘83",
				"behind every boy wizard chosen one is a dark lord pegging him",
				"every twentysomething’s twitter bio reads ‘Freelance writer. Author of ‘Fuck Off, You Fucking Fuck: Fuck Off Right Out Of It, You Fuck’, out this year on @BooksFuck. PhD in all three of your mum’s loose holes. Dog lover.",
				"just realised why they call it dogging.",
				"The Revolution Will Be Available At Your Leisure On A Monopolised Streaming Service",
				"theologians worldwide are disgusted to discover that the cabaret in Hell is a color me badd gig, forever.",
				"myra hindley funko pop figure",
				"'on your Marks', panel show trivia about famous Marks, hosted by mel giedroyc",
        "bum",
        "wee",
				];
                flashText(lines, 0);
            });

            function flashText(text, i) {
                if (i == text.length) i = 0;
                elem.text(text[i]);
                elem.animate({
                    opacity: 1
                }, fadeDelay)
                .delay(readDelay)
                .animate({
                    opacity: 0
                }, fadeDelay, function() {
                    flashText(text, i + 1);
                });
            }
        </script>
    </body>
</html>
